    /* media */
    
    @media screen and (min-width: 428px) {
        .section{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7) ,rgba(46, 47, 66, 0.7)) ,url(../images/Dark-bg.jpg);
        }
        @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution:192dpi),
        screen and (min-resolution:2dppx) {
        .section{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7) ,rgba(46, 47, 66, 0.7)) ,url(../images/Dark-bg@2x.jpg);
        }  
        }
        .container{
         max-width: 428px;
        }
        .input-emeil{
         width: 398px;
        }
        .background-section>.container{
         max-width: 264px;
        }
        .link-foot{
            text-align: center;
        }
        .burger-menu{
            display: inline-flex;
            margin: 0;
            padding: 0;
            border: none;
           margin-top: 24px;
           margin-bottom: 24px;
          background-color: transparent;
        }
        .modal{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(1);
            transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
            width: 392px;
            min-height: 584px;
            background: var(--modal-background);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            padding: 72px 16px 24px 16px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
         
        .subject{
         font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     text-align: center;
     letter-spacing: 0.02em;
     color: var(--secondary-color-text);
     margin-bottom: 8px;
        }
        .item{
         font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     text-align: center;
     letter-spacing: 0.02em;
     color: var(--primary-color-text);
     margin-bottom: 8px;
        }
        .icon-item{
         width: 36px;
         height: 36px;
        }
        .list-customers {
         display: flex;
         flex-wrap: wrap;
        gap: 16px;
     }
     .item-customers {
         width: calc((100% - 16px) / 2);
         height: 88px;
     }

     .burger-menu{
        margin-left: auto;
     }
      }
      @media screen and (min-width: 768px) {
        .section{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7) ,rgba(46, 47, 66, 0.7)) ,url(../images/Dark-bg1x.jpg);
        }
        @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution:192dpi),
        screen and (min-resolution:2dppx) {
        .section{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7) ,rgba(46, 47, 66, 0.7)) ,url(../images/Dark-bg@2xtab.jpg);
        }  
        }
         .container{
          max-width: 768px;
         }
         .site-nav{
            display: flex;
        }
       
        .burger-menu{
            display: none;
        }
        .link-foot{
            text-align: start;
        }
        .menu-link{
            display: block;
            font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-color-text);
        padding-top: 24px;
        padding-bottom: 24px;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .modal{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(1);
            transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
            width: 408px;
            min-height: 584px;
            background: var(--modal-background);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            padding: 72px 23px 24px 25px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
        .social-foot{
            text-align: start;
         }
        .menu-link.current{
            color: var(--border-color-hover);
        }
        .menu-link:after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            bottom: -1px;
            border-radius: 2px; 
            transform: scaleX(0);
            width: 100%;
            height: 4px;
            background-color: var(--border-color-hover);
        
            transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
        
        .menu-link:hover,
        .menu-link:focus,
        .menu-link.current::after{
            transform: scaleX(1);
        }
        .adress{
            margin-left: auto;
            display: block;
        } 
         .link-mail{
            font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-color-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .auth-nav{
            display: block;
            gap: 40px;
            margin-top: 16px;
         }

         .foot>.container{
             display: flex;
             align-items: baseline;
             flex-wrap: wrap;
             padding-left: 108px;
                }
                .foot{
                 padding-top: 96px;
                 padding-bottom: 96px;
                }
                .form-title{
                 display: flex;
                }
                .input-emeil{
                 width: 264px;
                }
                .subscribe-btn{
                 margin-top: 0;
                }
                .social-media{
                 margin-left: 24px;
                }
                .online-title{
                 text-align: start;
                }
         .list-customers {
             display: flex;
             flex-wrap: wrap;
             gap: 24px;
            
         }
         .item-customers {
             width: calc((100% - 48px) / 3);
             height: 88px;
         }
         .background-section>.container{
             max-width: 582px;
            }
            .section-five>.container{
             max-width: 582px;
            }
           
         .bgr-text{
             width: calc((100% - 24px) /2);
             
         }
         .list-team{
             column-gap: 24px;
             display: flex;
         }
         .list-section{
             display: flex;
             flex-wrap: wrap;
             gap: 72px 24px;
         }
         .item-work{
             width: calc((100% - 24px) /2);
             margin-bottom: 0;
         }
         .items{
            display: grid;
            justify-content: end;
         }
         .title{
             margin-bottom: 36px;
         }
         .subject-mob{
             text-align: start;
         }
       }
     .subject-customers{
         font-weight: 700;
     font-size: 36px;
     line-height: 1.1;
     text-align: center;
     letter-spacing: 0.02em;
     text-transform: capitalize;
     margin-bottom: 72px;
     }
     .section-five{
         padding-top: 96px;
         padding-bottom: 96px;
     }
  
     
           
     
     
     
       @media screen and (min-width: 1158px) {
        .section{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7) ,rgba(46, 47, 66, 0.7)) ,url(../images/people-office1.jpg);
        }
        @media screen and (min-device-pixel-ratio:2),
        screen and (min-resolution:192dpi),
        screen and (min-resolution:2dppx) {
        .section{
            background-image:linear-gradient(rgba(46, 47, 66, 0.7) ,rgba(46, 47, 66, 0.7)) ,url(../images/people-office\ 1@2x.jpg);
        }  
        }
         .container{
          max-width:1440px;
         }
         .item-work{
             width: calc((100% - 24px) /4);
         }
         .modal-input:focus{
            border-color: var(--accent-color);
        }
    
        .modal-input:focus + .modal-icon{
            fill: var(--accent-color);
        }
         .list-section{
             display: flex;
             flex-wrap: wrap;
             flex-wrap: nowrap;
             gap: 72px 24px;
         }
         .burger-menu{
            display: none;
        }
        .foot-logo{
            display: flex;
            align-items: baseline;
        }

         .icons-section{
             display: block;
             display: flex;
             align-items: center;
             justify-content: center;
         }
         .subject{
     text-align: center;
         }
         .work-section{
            padding-top: 120px;
            padding-bottom: 120px;
         }
         .subject-mob{
            font-weight: 500;
         }
         .item-section{
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.32px;
         }
         .our-works{
            padding-bottom: 120px;
            display: block;
        }
      
        .list-team{
            flex-wrap: wrap;
            margin-right: 0;
            display: flex;
            gap: 24px;
        }
       
        .bgr-text{
            width: calc((100% - 72px) /4);
        }
        .background-section>.container{
            max-width: 1158px;
            width: 100%;
            padding: 0 16px;
            margin: 0 auto;
        }
        .background-section{
            padding-bottom: 120px;
        }
        .section-five{
            padding-top: 120px;
            padding-bottom: 120px;
        }
        .section-five>.container{
            max-width: 1158px;
            width: 100%;
            padding: 0 16px;
            margin: 0 auto;
        }
        .item-customers{
            width: calc((100% - 120px) / 6);
        }
        .foot{
            padding-top: 100px;
            padding-bottom: 100px;
        }
        .foot>.container{
            max-width: 1158px;
            width: 100%;
            padding: 0 16px;
            margin: 0 auto;
        }
        .title{
            margin-bottom: 48px;
        }
        .auth-nav{
            display: flex;
            margin-top: 24px;
        }
        .social-media{
            margin-left: 0;
        }
        .social-foot{
           text-align: start;
           margin-top: 0;
        }
        .link-foot{
            text-align: start;
        }
        .foot-email{
            margin-left: 80px;
        }
        .social-media{
            margin-left: 120px;
        }
        .foot-logo>.container{
            width: 1440px;
        }
        .subscribe-container{
            margin-left: auto;
        }
        .modal{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(1);
            transition:transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
            width: 408px;
            min-height: 584px;
            background: var(--modal-background);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 4px;
            padding: 72px 24px 24px 24px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
       }